html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hideMe {
    -moz-animation: cssAnimation 6s ease-in 0s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 6s ease-in 0s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 6s ease-in 0s forwards;
    /* Opera */
    animation: cssAnimation 6s ease-in 0s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}